<!DOCTYPE html>
<html lang="en">

<%- include("templates/head", {title: "Flashcards"}); %>

<body>

    <%- include("templates/navbar") -%>

    <section style="flex-grow: 1;">
        <div class="app-bar">
            <a class="no-decoration" href="/apps/flashcards">&#8592;</a>
            <span id="score">Score</span>
        </div>

        <!-- The card -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <span class="text-center larger-text m-b-2" id="question">Question</span>
                    <input type="text" name="user-input" id="user-input" placeholder="Type here">
                </div>
                <div class="card-back">
                    <span class="text-center larger-text m-b-2" id="answer"></span>
                    <span class="text-center" id="message"></span>
                    <button id="continue">Continue</button>
                </div>
            </div>
        </div>

        <!-- The buttons -->
        <div class="fc-buttons-wrapper">
            <button id="reset">reset progress</button>
            <button id="reveal">reveal answer</button>
            <button id="check-answer">Done</button>
        </div>

    </section>

    <!-- The modal -->
    <div id="modal" class="fading-modal">
        <div class="modal-content">
            <button class="closeBtn" id="close"><span
                    class="material-symbols-outlined google-symbol">close</span></button>
            <span class="larger-text m-b-2">Great job!</span>
            <span>You've guessed all the words, go back and try another category.</span>
        </div>
    </div>

    <%- include("templates/copyright", {
        liSrc: "../../images/logos/linkedin.png", 
        ghSrc: "../../images/logos/github.png"
    }); %>

    <script src="/scripts/dictionary.js"></script>
    <script>const urlParam = '<%- urlParam %>';</script>
    <script src="/scripts/fc-quiz.js"></script>

</body>

</html>