<!DOCTYPE html>
<html lang="en">

<%- include("templates/head", {title: "Image Viewer"}); %>

<body class="iv-body">

    <!-- Directions modal -->
    <div id="modal" class="fading-modal">
        <div class="modal-content">
            <button class="close-button" id="stop-showing-btn"><span
                    class="material-symbols-outlined google-symbol">close</span></button>
            <div class="iv-directions-wrapper">
                <p class="larger-text m-b-2">Controls:</p>
                <ul>

                    <li>
                        To zoom in/out:
                        <ul>
                            <li>Use the scroll wheel on the mouse.</li>
                            <li>Pinch in/out using the touchscreen or the touchpad.</li>
                            <li>Use the <span class="material-symbols-outlined google-symbol">zoom_in</span>/<span
                                    class="material-symbols-outlined google-symbol">zoom_out</span> buttons in the top
                                right corner.</li>
                        </ul>
                    </li>

                    <li>
                        To pan:
                        <ul>
                            <li>Click and drag.</li>
                            <li>Touch and drag.</li>
                        </ul>
                    </li>

                    <li>
                        To restore the default position:
                        <ul>
                            <li>Double click.</li>
                            <li>Double tap.</li>
                            <li>Use the <span class="material-symbols-outlined google-symbol">zoom_out_map</span>
                                button in the top right corner.</li>
                        </ul>
                    </li>
                </ul>

                <div class="stop-showing-wrapper">
                    <input id="stop-showing" type="checkbox">
                    <label for="stop-showing">Don't show again.</label>
                </div>
            </div>
        </div>
    </div>

    <!-- The image -->
    <div id="image-container">
        <div class="display-area">
            <img id="image-displayed" class="display-image" draggable="false">
        </div>
    </div>

    <!-- The buttons -->
    <div class="iv-button-wrapper">
        <div class="iv-ui">
            <a id="close-button-link">
                <button id="close" title="Close">
                    <span class="material-symbols-outlined google-symbol">close</span>
                </button>
            </a>
            <button id="zoom-in" title="Zoom in">
                <span class="material-symbols-outlined google-symbol">zoom_in</span>
            </button>
            <button id="zoom-out" title="Zoom out">
                <span class="material-symbols-outlined google-symbol">zoom_out</span>
            </button>
            <button id="zoom-original" title="Fit to screen">
                <span class="material-symbols-outlined google-symbol">zoom_out_map</span>
            </button>
        </div>
    </div>

    <div class="iv-navigator">
        <a id="prev-img">
            <button><span class="material-symbols-outlined google-symbol">arrow_back</span></button>
        </a>
        <a id="next-img">
            <button><span class="material-symbols-outlined google-symbol">arrow_forward</span></button>
        </a>
    </div>


    <script>
        const currentImage = '<%- currentImage %>';
        const currentFolder = '<%- currentFolder %>';
        const imageListString = '<%- imageListString %>';
    </script>
    <script src="/scripts/image-viewer.js"></script>

</body>

</html>