<!DOCTYPE html>
<html lang="en">

<%- include("templates/head", {title: "Image Viewer"}); %>

<body class="image-viewer-body">



    <div id="image-container">

        <div class="display-area">

            <img class="display-image" src=<%= imageSource %>>
        </div>

    </div>

    <div style="display: flex; justify-content: end;">
        <div class="ui">
            <a href=<%= closeButtonLink %>><button id="close" title="Close">&#x2715</button></a>
            <button id="zoom-in" title="Zoom in">+</button>
            <button id="zoom-out" title="Zoom out">&#8722;</button>
            <button id="zoom-original" title="Fit to screen">&#128269;</button>
        </div>
    </div>

    <script src="/scripts/image-displayer.js"></script>

</body>

</html>