<!DOCTYPE html>
<html lang="en">

<%- include("templates/head", {title: "Mario Hanina"}); %>

<body>

    <%- include("templates/navbar") -%>

    <!-- Profile Section -->
    <section id="intro">
        <h1 class="text-center">Hello visitor, I'm Mario.</h1>
        <div class="intro-wrapper">
            <img class="profile-picture border" src="images/profile.jpg" alt="A picture of Me">
            <div>
                <span>Welcome to my website!</span>
                <p>I enjoy software development, drawing, painting, and photography.
                    I created this website to have a place where I can share what I'm making with the you.</p>
            </div>
        </div>
    </section>

    <!-- Art Section -->
    <section id="art">
        <h2 class="text-center">Art</h2>
        <div class="art-categories">
            <!-- Dry Media -->
            <div>
                <a href="/art-gallery#dry-media">
                    <div class="art-apps-cards">
                        <img class="art-images" src="images/drawings/crow.JPG" alt="One of my drawings">
                    </div>
                    <h3>Drawing and Sketching</h3>
                </a>
                <p>I draw because I want to materialize my thoughts, my interpretations, and my observations of the
                    world.</p>
            </div>
            <!-- Wet Media -->
            <div>
                <a href="/art-gallery#wet-media">
                    <div class="art-apps-cards">
                        <img class="art-images" src="images/photography/lake-moraine.jpg" alt="One of my photographs">
                    </div>
                    <h3>Photography</h3>
                </a>
                <p>Just like most humans I enjoy capturing fleeting moments, especially since I like travelling a lot.
                </p>
            </div>
            <!-- Photography -->
            <div>
                <a href="/photo-gallery">
                    <div class="art-apps-cards">
                        <img src="images/photography/lake-moraine.jpg" alt="One of my photographs">
                    </div>
                    <h3>Photography</h3>
                </a>
                <p>Like most humans, I enjoy capturing fleeting moments. Images allow us to see through the eyes of
                    others.</p>
            </div>
        </div>
    </section>

    <!-- Apps -->
    <section id="software">
        <h2 class="text-center">Software</h2>
        <div class="app-wrapper">
            <!-- Flashcards -->
            <div>
                <a href="/apps/flashcards">
                    <div class="art-apps-cards">
                        <img src="images/software/flashcards.png" alt="Flashcards app">
                    </div>
                    <h3>Flashcards app</h3>
                </a>
                <p>Create your own vocabulary flashcards, or practice collection of existing ones.</p>
            </div>
            <!-- Stocks App -->
            <div>
                <a href="/apps/stocks">
                    <div class="art-apps-cards">
                        <img src="images/software/stocks.png" alt="Stocks app">
                    </div>
                    <h3>Stocks app</h3>
                </a>
                <p>Search for a company to take a look at their adjusted weekly stock prices.</p>
            </div>
            <!-- Next Project -->
            <div>
                <div class="art-apps-cards">
                    <img src="images/software/tbd.png" alt="">
                </div>
                <h3>TBD</h3>
                <p>Hmmm, what will the next project be?</p>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact">
        <h2 class="text-center">Contact me</h2>
        <form class="contact-form" action="/" method="post" target="_blank">
            <label for="email">Email: </label>
            <input type="text" id="email" name="email" required>

            <label for="phoneNumber">Phone Number: </label>
            <input type="text" id="phoneNumber" name="phoneNumber">

            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject">

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <button type="submit">Send</button>
        </form>
    </section>

    <%- include("templates/copyright", {
        liSrc: "images/logos/linkedin.png", 
        ghSrc: "images/logos/github.png"
    }); %>

</body>

</html>