<!DOCTYPE html>
<html lang="en">

<%- include("templates/head", {title: "Photo Gallery"}); %>

<body>

    <%- include("templates/navbar") -%>

    <section id="photography">
        <h1 class="text-center">The Photo Gallery</h1>
        <div class="photography"></div>
    </section>

    <%- include("templates/copyright", {
        liSrc: "images/logos/linkedin.png", 
        ghSrc: "images/logos/github.png"
    }); %>

</body>

<script>
    let photos = '<%- allImages %>';
    photos = photos.split(",");
    const photography = document.querySelector(".photography");
    for (const photo of photos) {
        photography.innerHTML += `<div>
            <a href="/image-viewer/photography/${photo}">
                <img src="images/photography/thumbnails/${photo}" height="220" width="320">
            </a>
        </div>`
    }
</script>

</html>