<div class="copyright">
    <span>© 2023 Mario Hanina</span>
    <div>
        <a title="LinkedIn Account" href="https://www.linkedin.com/in/mario-hanina" target="_blank">
            <img src="images/logos/linkedin.png" alt="My LinkedIn Profile"></a>
        <a title="Github Account" href="https://github.com/WahooItsaMe" target="_blank">
            <img src="images/logos/github.png" alt="My Github Profile"></a>
    </div>
</div>