<div class="copyright">
    <span>© 2023 Mario Hanina</span>
    <div>
        <a title="LinkedIn Account" href="https://www.linkedin.com/in/mario-hanina" target="_blank">
            <img src="<%= liSrc %>" alt="My LinkedIn Profile"></a>
        <a title="Github Account" href="https://github.com/mariohanina" target="_blank">
            <img src="<%= ghSrc %>" alt="My Github Profile"></a>
    </div>
</div>