/* Navbar */
nav {
    background-color: var(--nav-color);
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
}

nav a:first-child {
    font-weight: bold;
}

/* Copyright */
.copyright {
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

/* UPDATE WITH RESET.CSS */
.copyright img {
    border: none;
    height: 40px;
    width: auto;
    padding-left: 2rem;
}

@media (max-width: 576px) {
    .copyright img {
        height: 30px;
        padding-left: 1rem;
    }

    .copyright span {
        font-size: 0.8rem;
    }
}

/* ------------------------------------- MAIN PAGE ------------------------------------- */
/* Intro Section */
.intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.profile-picture {
    max-width: 250px;
}

/* UPDATE WITH RESET.CSS */
.intro-wrapper h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.intro-wrapper p {
    text-align: justify;
    max-width: 450px;
}

@media (max-width: 768px) {
    .profile-picture {
        max-width: 400px;
    }

    .intro-wrapper h2 {
        text-align: center;
    }
}

/* Art Section and Apps Section*/
.art-categories,
.app-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 768px) {

    .art-categories,
    .app-wrapper {
        width: 75%;
        margin: auto;
    }
}

.art-categories div,
.app-wrapper div {
    flex: 1;
    min-width: 300px;
}

.art-categories div div,
.app-wrapper div div {
    border: 1px solid var(--border-color);
    overflow: hidden;
}

/* UPDATE WITH RESET.CSS */
.art-categories img,
.app-wrapper img {
    border: none;
    vertical-align: bottom;
    transition: 0.2s;
}

.art-categories img:hover,
.app-wrapper img:hover {
    scale: 1.1;
}

/* Contact Section */
.contact-form {
    max-width: 750px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
}

.contact-form button {
    display: block;
    width: 100px;
    margin: 2.2rem auto 0;
}

/* ----------------------------------------------------------------------------------------- */

/* ------------------------------------- PHOTO GALLERY ------------------------------------- */
.photography {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.photography div {
    max-width: 100%;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

/* UPDATE WITH RESET.CSS */
.photography img {
    border: none;
    vertical-align: bottom;
    object-fit: cover;
    transition: 0.2s;
}

.photography img:hover {
    scale: 1.1;
    transition: 0.2s;
}

@media (max-width: 1200px) {

    .photography {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {

    .photography {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {

    .photography {
        grid-template-columns: 1fr;
    }

    .photography img {
        height: auto;
    }
}

/* ----------------------------------------------------------------------------------------- */

/* ------------------------------------- ART GALLERY ------------------------------------- */
.artwork {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.artwork div {
    overflow: hidden;
    border: 1px solid var(--border-color);
}

/* UPDATE WITH RESET.CSS */
.artwork img {
    border: none;
    transition: 0.2s;
}

.artwork img:hover {
    scale: 1.1;
}

/* ----------------------------------------------------------------------------------------- */

/* ------------------------------------- Image Display ------------------------------------- */
.image-viewer-body {
    overflow: hidden;
}

#image-container {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: grab;
    background-color: black;
}

#image-container:active {
    cursor: grabbing;
}

.display-area {
    height: 100%;
    width: 100%;
    position: absolute;
}

.display-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
}

.ui {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.ui>button {
    margin: 0.4rem 0.4rem 0;
}

.ui>div>button {
    margin: 0.4rem 0.4rem 0 0;
}

.ui button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    padding: 0.2rem;
    opacity: 0.5;
    font-weight: 900;
}

.ui button:hover {
    opacity: 1;
    background-color: var(--main-bg-color);
}

/* ----------------------------------------------------------------------------------------- */

/* ------------------------------------- FLASHCARDS APP ------------------------------------- */

.flashcards-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.flashcards-categories a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    transition: 0.2s;
}

.flashcards-categories a:hover {
    background-color: var(--tertiary-bg-color);
}

.flashcards-categories span,
.flashcards-categories h3 {
    display: block;
    text-align: center;
}

@media (max-width: 1200px) {

    .flashcards-categories {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {

    .flashcards-categories {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {

    .flashcards-categories {
        grid-template-columns: 1fr;
    }
}

/* ----------------------------------------------------------------------------------------- */

/* ------------------------------------- FLASHCARDS QUIZ ------------------------------------- */

.card {
    max-width: 600px;
    height: 250px;
    box-sizing: border-box;
    margin: 2rem auto;
    perspective: 1000px;

}

.card-inner {
    position: relative;
    /* border: 1px solid var(--border-color); */
    box-shadow: 0 0 20px var(--main-theme-color);
    background-color: var(--main-theme-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card input,
.card button {
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.1);
}

.card input:hover,
.card button:hover {
    background-color: rgba(100, 100, 100, 0.4);
}

.card-front,
.card-back {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-back {
    transform: rotateY(180deg);
}














/* MODAL */
.fading-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* Modal Animation */
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-name: fadeIn;
    animation-duration: 0.3s
}

.modal-content {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; */
    background-color: var(--main-bg-color);
    padding: 2rem;
    margin: 2rem;
    width: 100%;
    max-width: 500px;
    /* Modal animation */
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-name: fadeIn;
    animation-duration: 0.3s
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}