/* Navbar */
nav {
    background-color: var(--nav-color);
    display: flex;
    gap: calc(var(--space-unit) * 3);
    padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 3);
}

nav a:first-child {
    font-weight: bold;
}

/* Copyright */
.copyright {
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 3);
    align-items: center;
    margin-bottom: 0;
}

.copyright div,
.copyright span {
    margin-bottom: 0;
}

.copyright img {
    height: 40px;
    width: auto;
    padding-left: calc(var(--alt-space-unit) * 4);
}

/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------- MEDIA QUERIES ------------------------------------- */

@media (max-width: 1200px) {

    /* PHOTO GALLERY  &&  FLASHCARDS MAIN PAGE */
    .photography,
    .flashcards-categories {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {

    /* PHOTO GALLERY  &&  FLASHCARDS MAIN PAGE */
    .photography,
    .flashcards-categories {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {

    /* NAVBAR */
    nav {
        padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 1);
    }

    /* COPYRIGHT */
    .copyright {
        padding: calc(var(--space-unit) * 2) calc(var(--space-unit) * 1);
    }

    /* MAIN SECTIONS */
    /* .profile-picture {
        max-width: 400px;
    } */

    .intro-wrapper h2 {
        text-align: center;
    }

    /* ART SECTIONS */
    .art-categories,
    .app-wrapper {
        width: 100%;
    }
}

@media (max-width: 576px) {

    /* NAVBAR */
    nav {
        /* gap: calc(var(--space-unit) * 1); */
        justify-content: space-between;
    }

    /* COPYRIGHT BAR */
    .copyright img {
        height: 30px;
        padding-left: 1rem;
    }

    /* PHOTO GALLERY  &&  FLASHCARDS MAIN PAGE */
    .photography,
    .flashcards-categories {
        grid-template-columns: 1fr;
    }

    .photography img {
        height: auto;
    }

    .artwork div {
        width: initial !important;
        max-width: none !important;

    }

    /* IMAGE VIEWER */
    .ui {
        flex-direction: row-reverse;
    }
}


















span.google-symbol {
    display: block;
    margin-bottom: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}