:root {
    --nav-color: rgb(10, 10, 10);
    --main-bg-color: rgb(40, 40, 40);
    --secondary-bg-color: rgb(30, 30, 30);
    --text-color: rgb(235, 235, 235);
    --border-color: rgb(235, 235, 235);
    --main-theme-color: rgb(20, 20, 20);
    --form-color: rgb(40, 40, 40);
    --form-effects-color: rgb(10, 10, 10);

    --space-unit: 0.75rem;
    --alt-space-unit: 0.5rem;
    --font-size-unit: 0.5rem;
}

/* ------------------------ css reset ------------------------ */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
form,
label,
nav,
section,
input,
textarea,
button,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

h1 {
    font-size: calc(var(--font-size-unit) * 5);
    margin-bottom: calc(var(--space-unit) * 5);
    font-weight: normal;
    font-family: 'Lora', 'Merriweather', 'Roboto Slab', serif;
}

h2 {
    font-size: calc(var(--font-size-unit) * 4);
    margin-bottom: calc(var(--space-unit) * 4);
    font-weight: normal;
    font-family: 'Lora', 'Merriweather', 'Roboto Slab', serif;
}

h3,
h4,
h5,
h6 {
    font-size: calc(var(--font-size-unit) * 3);
    margin-bottom: calc(var(--space-unit) * 1);
    font-weight: normal;
    font-family: 'Lora', 'Merriweather', 'Roboto Slab', serif;
}

div,
p,
input,
span,
textarea {
    font-size: calc(var(--font-size-unit) * 2);
    margin-bottom: calc(var(--space-unit) * 2);
    font-family: 'Open Sans', 'Montserrat', sans-serif;
}

label,
ul {
    font-size: calc(var(--font-size-unit) * 2);
    margin-bottom: calc(var(--space-unit) * 1);
    font-family: 'Open Sans', 'Montserrat', sans-serif;
}

a,
button {
    font-size: calc(var(--font-size-unit) * 2);
    font-family: 'Open Sans', 'Montserrat', sans-serif;
}

ul {
    padding-left: calc(var(--font-size-unit) * 2);
}

section {
    padding: calc(var(--space-unit) * 5) calc(var(--space-unit) * 3);
    background-color: var(--main-bg-color);
}

section:nth-of-type(2n) {
    background-color: var(--secondary-bg-color);
}

@media (max-width: 768px) {
    section {
        padding: calc(var(--space-unit) * 5) calc(var(--space-unit) * 1);
    }
}

img {
    width: 100%;
}

/* ------------------------ FORM ELEMENTS ------------------------ */

label {
    display: block;
}

input,
textarea {
    display: block;
    padding: 0.5rem;
    transition: 0.2s;
    background-color: var(--form-color);
    border: 1px solid var(--border-color);
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

input:focus,
textarea:focus {
    background-color: var(--form-effects-color);
}

button {
    padding: calc(var(--space-unit) * 1) calc(var(--space-unit) * 3);
    transition: 0.2s;
    background-color: var(--form-color);
    border: 1px solid var(--border-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--form-effects-color);
}

/* ------------------------------------- PREDEFINED CLASSES ------------------------------------- */

.text-center {
    text-align: center;
}

.border {
    border: 1px solid var(--border-color);
}

.no-decoration {
    text-decoration: none;
}

.large-text {
    font-size: calc(var(--font-size-unit) * 3);
}

.larger-text {
    font-size: calc(var(--font-size-unit) * 4);
    font-family: 'Merriweather', 'Lora', 'Roboto Slab', serif;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-1 {
    margin-bottom: calc(var(--space-unit) * 1) !important;
}

.m-b-2 {
    margin-bottom: calc(var(--space-unit) * 2) !important;
}