/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------- MAIN PAGE ----------------------------------------- */
/* Profile Section */
.intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(var(--space-unit) * 3);
    margin-bottom: 0;
}

.profile-picture {
    width: auto;
    max-width: 214px;
    max-height: 80vh;
}

.profile-text span {
    display: block;
    font-size: calc(var(--font-size-unit) * 3);
    margin-bottom: calc(var(--space-unit) * 1);
}

.profile-text p {
    text-align: justify;
    max-width: 550px;
}

/* Art Section and Apps Section*/
.hobby-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--space-unit) * 3);
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.hobby-wrapper {
    flex: 1;
    min-width: 280px;
}

.hobby-cards {
    max-height: 80vh;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.hobby-cards img {
    vertical-align: bottom;
    transition: 0.2s;
}

.hobby-cards img:hover {
    scale: 1.1;
}

.hobby-wrapper,
.hobby-wrapper>div>p {
    margin-bottom: 0;
}

/* Contact Section */
.contact-form {
    max-width: 800px;
    margin: auto;
}

.contact-form input {
    width: 100%;
}

.contact-form textarea {
    width: 100%;
    margin-bottom: calc(var(--space-unit) * 3);
}

.contact-form button {
    display: block;
    margin: auto;
}

/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------- CONTACT RESULT ------------------------------------- */
.contact-result {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------- PHOTO GALLERY ------------------------------------- */
.photo-gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: calc(var(--alt-space-unit) * 2);
    margin-bottom: 0;
}

.photo-gallery-wrapper div {
    max-width: 100%;
    overflow: hidden;
    border: 1px solid var(--border-color);
    margin-bottom: 0;
}

.photo-gallery-wrapper img {
    vertical-align: bottom;
    object-fit: cover;
    transition: 0.2s;
}

.photo-gallery-wrapper img:hover {
    scale: 1.1;
    transition: 0.2s;
}

/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------- ART GALLERY --------------------------------------- */
.dry-media-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--alt-space-unit) * 2);
    margin-bottom: 0;
}

.dry-media-wrapper div {
    overflow: hidden;
    border: 1px solid var(--border-color);
    margin-bottom: 0;
}

.dry-media-wrapper img {
    transition: 0.2s;
}

.dry-media-wrapper img:hover {
    scale: 1.1;
}

/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------- Image VIEWER -------------------------------------- */
.image-viewer-body {
    overflow: hidden;
}

.image-viewer-body * {
    -webkit-user-select: none;
    user-select: none;
}

/* Directions Modal */
#directions-modal {
    margin-bottom: 0;
}

#directions-modal * {
    -webkit-user-select: text;
    user-select: text;
}

#directions-modal button {
    display: block;
    margin: auto;
}

.stop-showing-wrapper input,
.stop-showing-wrapper label {
    display: inline;
    margin-bottom: 0;
}

#image-container {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: grab;
    background-color: black;
}

#image-container:active {
    cursor: grabbing;
}

.display-area {
    height: 100%;
    width: 100%;
    position: absolute;
}

.display-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ui {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.ui>* {
    margin-top: 5px;
    margin-right: 5px;
}


.ui button {
    width: 40px;
    height: 40px;
    padding: 3px;
    opacity: 0.5;
}

.ui button:hover {
    opacity: 1;
    background-color: var(--main-bg-color);
}

/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------- FLASHCARDS APP ------------------------------------- */
.flashcards-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: calc(var(--space-unit) * 2);
    margin-bottom: 0;
}

.flashcards-categories a {
    padding: calc(var(--space-unit) * 3);
    border: 1px solid var(--border-color);
    transition: 0.2s;
}

.flashcards-categories a:hover {
    background-color: var(--form-effects-color);
}

.flashcards-categories span {
    margin-bottom: 0;
    display: block;
    text-align: center;
}

/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------- FLASHCARDS QUIZ ------------------------------------- */
/* APP BAR THAT CONTAINS THE SCORE AND THE BACK LINK */
.app-bar {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-bar a {
    font-size: calc(var(--font-size-unit) * 4);
}

.app-bar span {
    margin-bottom: 0;
}

/* CARD ELEMENTS */
.card {
    max-width: 600px;
    height: 250px;
    box-sizing: border-box;
    margin: auto auto calc(var(--space-unit) * 2);
    perspective: 1000px;

}

.card-inner {
    position: relative;
    box-shadow: 0 0 20px var(--main-theme-color);
    background-color: var(--main-theme-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    padding: calc(var(--space-unit) * 3);
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CARD FRONT */
.card input {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card button {
    background-color: rgba(0, 0, 0, 0.1);
}

.card button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.card input:focus {
    background-color: rgba(0, 0, 0, 1);
}

/* CARD BACK */
.card-back {
    transform: rotateY(180deg);
}

#answer {
    margin-bottom: calc(var(--space-unit) * 1);
}

/* BUTTONS */
.fc-buttons-wrapper {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(var(--space-unit) * 2);
}

.fc-buttons-wrapper button {
    flex: 1;
}

/* MODAL */
.fading-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Modal Animation */
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-name: fadeIn;
    animation-duration: 0.3s
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--main-bg-color);
    padding: calc(var(--space-unit) * 3);
    margin: 0 calc(var(--space-unit) * 1);
    width: 100%;
    max-width: 500px;
    max-height: calc(100vh - ((var(--space-unit) * 3) * 2));
    overflow: auto;
    position: relative;
    /* Modal animation */
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-name: fadeIn;
    animation-duration: 0.3s
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    border: none;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------- FLASHCARDS QUIZ ------------------------------------- */
.stocks-main-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.stocks-app-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(var(--space-unit) * 1);
    margin-bottom: calc(var(--space-unit) * 2);
}

.stocks-app-info>span {
    margin-right: calc(var(--space-unit) * 4);
}

.stocks-app-info * {
    margin-bottom: 0;
}

.stocks-app-controls {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--space-unit) * 1);
    flex-grow: 1;
}

.stocks-app-controls>div {
    flex-grow: 19;
}

#search-input {
    vertical-align: top;
    padding: 0.5rem 1rem;
    border-right: none;
    display: inline;
    height: 100%;
    width: calc(100% - 50px);
}

#search-button {
    border-left: none;
    display: inline;
    padding: 0.5rem;
    width: 50px;
    height: 100%;
}

#search-outcome {
    min-width: 100px;
}

.stocks-app-controls>button {
    flex-grow: 1;
    padding: calc(var(--alt-space-unit) * 1) calc(var(--alt-space-unit) * 2);
}

.stocks-modal {
    overflow: auto;
    margin-bottom: 0;
}

.update-time-modal-content {
    gap: 1.5rem;
}

.update-time-modal-content div {
    flex-grow: 1;
    margin-bottom: 0;
}

.update-time-modal-content input {
    width: 100%;
    margin-bottom: 0;
}

#get-data {
    display: none;
    margin: auto;
}

.available-choices-label {
    margin-bottom: calc(var(--alt-space-unit) * 1);
}

.available-choices {
    display: inline;
    margin-bottom: 0;
}

.chart-container {
    width: 100%;
    margin-bottom: 0;
    aspect-ratio: 2/1;
}

.chart-wrapper {
    height: 100%;
    margin-bottom: 0;
}